* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
}

a {
    text-decoration: none;
    color: black;
}

h1 > a {
    color: tomato;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  padding: 0 20px;
}

table {
  border: 2px solid black;  
}

.board-table {
  width: 100%;
  margin-top: 20px;
  
}

.board-table > thead {
  background: white;
  color: black;
}

.board-table > thead > tr > th {
  padding: 10px 14px;
}

.board-table > tbody > tr > td {
  padding: 8px 14px;
  border-bottom: 2px double #ddd;
  text-align: center;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 7px 14px;
  background: #d3d3d3c4;
  border: 2px solid #000;
  margin-top: 10px;
  font-size: 11px;
}

#slide {
  width: 100%;
  text-align: center;
}

#slide img {
  /* border: 10px solid; */
  width: 600px;
  height: 400px;
}

.slide {
  display: none;
  animation-name: slide;
  animation-duration: 1.5s;
}

.active {
  display: block;
}

@keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
