* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: tomato;
  font-size: 3rem;
}

h1,
h2 {
  color: tomato;
  text-align: center;
  font-size: 2rem;
}

ul,
li {
  list-style: none;
}

.modify-title {
  padding: 18px 0;
}

.modify-write-form {
  width: 500px;
}

form {
  width: 32rem;
  margin: auto;
}

form li {
  display: flex;
  flex-direction: column;
}

form ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li > span {
  /* width: 50px; */
  width: 70px;
  position: relative;
  top: 11px;
  /* left: 10px; */
  left: 20px;
  background: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
}

li > input {
  padding: 10px 18px;
  border: 1px solid tomato;
  border-radius: 1rem;
}

li > textarea {
  height: 500px;
  padding: 20px;
  border: 1px solid tomato;
  resize: none;
  border-radius: 1rem;
}

.btn {
  margin-top: 1rem;
  background-color: tomato;
}